{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
  <h2>Registration</h2>

  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="message message-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  
    <button type="submit">log in</button>
  </form>

  <div>
    <p>Aldready registered?</p>
    <a href="{% url 'login' %}">sign in</a>
  </div>
{% endblock %}
