.categories {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 1040px;
  margin-top: 22px;
}

.categories img {
  width: 56px;
  height: 56px;
}

.categories div {
  border-radius: 16px;
  width: 160px;
  height: 160px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.categories-title {
  margin-top: 36px;
  font-weight: 700;
  font-size: 24px;
}

.categories div p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
  color: var(--categories-p);
}
.categories a {
  text-decoration: none;
}
