.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 60px;
}

.product {
  background-color: var(--white-color);
  width: 336px;
  height: 363px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  box-sizing: border-box;
}

.product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  height: 173px;
}

.product-img {
  max-width: 187px;
  max-height: 173px;
}

.product-info {
  width: 100%;
}

.stars {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.star-icon {
  width: 24px;
  height: 24px;
}

.product-name {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  color: var(--product-name);
  /* margin-bottom: 5px; */
}

.menu-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 56px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.valute {
  color: var(--orange-color);
  font-weight: 700;
  font-size: 24px;
}

.addingToBasket {
  background-color: var(--orange-color);
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: -24px;
}

/* .menu-item-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  gap: 16px;
  border: 1px solid black;
} */
.menu-item-page {
  padding-left: 30px;
  padding-top: 30px;
}

.container {
  width: 390px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.input-check {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--tabs-grey);
}

.tab {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid var(--tabs-grey);
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--Inter);
  font-weight: 400;
  font-size: 18px;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.35s;
  font-family: var(--Inter);
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-grey);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.item-name {
  font-family: var(--Inter);
  font-weight: 700;
  font-size: 36px;
}

.item-price {
  font-family: var(--Inter);
  font-weight: 700;
  font-size: 30px;
  color: var(--secondary-red-color);
}

.item-description {
  width: 779px;
  height: 48px;
  font-family: var(--Inter);
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-grey);
}

.nutritional-value {
  font-family: var(--Inter);
  font-weight: 500;
  font-size: 24px;
}

.menu-content {
  height: 500px;
}

.img-item {
  width: 602px;
  height: auto;
  max-height: 501px;
  object-fit: contain;
  border-radius: 16px;
  image-rendering: auto;
}
.menu-details-container {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 500px;
}

.menu-item-image-block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item-info-block {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-description-list {
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-description-list li {
  padding: 6px 12px;
  font-family: var(--Inter);
  font-size: 16px;
  color: var(--secondary-grey);
}

.addingToBasketM {
  width: 200px;
  color: var(--white-color);
  font-size: 20px;
}
