nav {
  width: 340px;
}

.navbar {
  padding-left: 43px;
}

.navlink {
  color: var(--navlinks-color);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  text-decoration: none;

  border-radius: 12px;
  padding: 10px;
  width: 180px;
  height: 64px;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.active-navlink {
  background-color: var(--orange-color);
  color: white !important;
}
