.restorantGrid {
  margin-top: 60px;
}
.restaurants {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 25px;
}
.restaurants .restaurant img {
  width: 270px;
  height: 250px;
  margin-top: 20px;
}
.restaurant {
  width: 336px;
  height: 363px;
  background-color: var(--white-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restaurant h2 {
  margin-top: 15px;
}

.restaurant-item-page {
  padding-left: 40px;
  background-color: rgb(235, 236, 238);
  width: 80%;
  padding-right: 15px;
}

.restaurant-block img {
  width: 260px;
  height: 235px;
  border-radius: 16px;
}

.restaurant-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  background-color: var(--white-color);
  height: 250px;
  width: 727px;
  border-radius: 6px;
  gap: 30px;
  margin-top: 70px;
  margin-bottom: 120px;
}

.restName {
  font-weight: 400;
  font-size: 24px;
}

.restDesc {
  font-family: var(--Inter);
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-h2);
  margin-top: 10px;
}

.restaurant-text {
  padding-left: 15px;
  padding-top: 15px;
}

.menu-section {
  margin-bottom: 40px;
}

.menuName {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.menuCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

.menu-item-card {
  background-color: var(--white-color, #ffffff);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.menu-item-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-name {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-item-name);
}

.item-descr {
  font-family: var(--Inter);
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-h2);
  margin-top: 10px;
  margin-bottom: 20px;
}

.view-button {
  background-color: var(--white-color);
  border: 1px solid var(--orange-color);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--Inter);
  align-self: flex-start;
  color: var(--orange-color);
  width: 105px;
  height: 36px;
}

.view-button:hover {
  cursor: pointer;
}

.menu-item-image-container {
  flex-shrink: 0;
}

.productImg {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
}
