.userPanelContent {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
  padding-top: 30px;
  padding-left: 60px;
}

.linksToAuth {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.linksToAuth a {
  text-decoration: none;
  font-size: 18px;
  color: var(--navlinks-color);
}

.linksToAuth a:hover {
  color: var(--orange-color);
}

.warningForUser {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin-top: 340px;
  max-width: 900px;
}

.personal-cabinet {
  padding-left: 20px;
  padding-top: 20px;
  width: 420px;
}
.profile-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  object-fit: cover;
}
.profile-image-container {
  order: 2;
}
.profile-image-loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.user-info {
  margin-top: 10px;
  order: 3;
  padding-left: 20px;
}

.user-location {
  margin: 5px 0 0 0;
}

.notification-box {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-box img {
  width: 25.095666885375977px;
  height: 29.94135093688965px;
}

.user-info h3 {
  font-weight: 400;
  font-size: 18px;
  color: var(--categories-p);
  margin-top: 50px;
}

.user-info p {
  font-weight: 700;
  font-size: 18px;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.location-icon {
  width: 17.0007381439209px;
  height: 20.12274742126465px;
}

.change-address {
  width: 95px;
  height: 32px;
  border: none;
  border-radius: 8px;
  border: 1px solid var(--orange-color);
  background-color: var(--white-color);
  color: var(--orange-color);
  font-size: 14px;
  font-weight: 400;
  margin-left: 140px;
}

.save {
  margin-left: 15px;
  width: 85px;
}

.input-change {
  height: 32px;
  border: none;
  font-weight: 300;
  font-size: 18px;
}

.cancel-btn {
  width: 20px;
  margin-left: 5px;
}

.change-address:hover {
  cursor: pointer;
}
