.userPanelContent {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
  padding-top: 30px;
  padding-left: 60px;
}

.linksToAuth {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.linksToAuth a {
  text-decoration: none;
  font-size: 18px;
  color: var(--navlinks-color);
}

.linksToAuth a:hover {
  color: var(--orange-color);
}

.warningForUser {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin-top: 340px;
  max-width: 900px;
}
