{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Welcome</h1>

{% if user.is_authenticated %}
    <h2>Hello, {{ user.username }}!</h2>
{% endif %}

<h1>Restaurants</h1>

<div class="vendor-container" id="vendor-container">
    {% for vendor in vendors %}
        <div class="vendor-item">
            {% if vendor.logo %}
                <img src="{{ vendor.logo.url }}" alt="{{ vendor.name }} logo">
            {% else %}
                <img src="{% static 'images/default.jpg' %}" alt="Default Logo">
            {% endif %}
            <h2><a href="{% url 'vendor-detail' vendor.id %}">{{ vendor.name }}</a></h2>
            <p>{{ vendor.description }}</p>
        </div>
    {% empty %}
        <p>No vendors found.</p>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script>
    function checkForVendorUpdates() {
        fetch("{% url 'vendors-has-changed' %}")
            .then(response => response.json())
            .then(data => {
                if (data.vendors_changed) {
                    location.reload();
                }
            })
            .catch(error => console.error('Error checking vendor updates:', error));
    }

    setInterval(checkForVendorUpdates, 5000); 
</script>
{% endblock %}
